{% extends "base.html" %}

{% block content %}
    <h1>Transfer Funds</h1>
    <p>Transfer money to another account securely.</p>
    
    <form action="/transfer" method="POST" style="max-width: 400px; margin-top: 2rem;">
        <div class="form-group">
            <label for="account">Destination Account Number</label>
            <input type="text" id="account" name="account" placeholder="e.g. 123456789">
        </div>
        
        <div class="form-group">
            <label for="amount">Amount ($)</label>
            <input type="number" id="amount" name="amount" placeholder="1000">
        </div>
        
        <button type="submit" class="btn">Transfer Now</button>
    </form>
{% endblock %}
